<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.pradeep.hellomedikalpatientapp">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET"/>


    <application

        android:name="com.pradeep.hellomedikalpatientapp.App"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_fevicon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_fevicon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">


        <activity android:name=".Activities.Splash_Logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Splash_Sliders"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Splash_Next"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Login"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Signup_Email_Phone"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Sample_Home_Screen"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Otp_Screen"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Register_Form"
            android:screenOrientation="portrait" />


    </application>

</manifest>